body, .navbar {
  background: #240000;
  background: linear-gradient(90deg, #240000 0%, black 35%, #863232 100%);
  background-size: cover;
  color: white;
  overflow-x: hidden; }

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000; }

.row {
  justify-content: center; }

h1 {
  display: none; }

img {
  width: 100%;
  padding: 1rem;
  margin-top: 3rem; }

h2 {
  border: solid 8px white;
  padding: 3rem 8rem;
  margin: 3rem;
  color: white;
  width: 100%;
  text-align: center; }

h3 {
  margin: 1rem; }

p {
  padding: 1rem; }

iframe {
  position: absolute;
  z-index: 0; }

form {
  width: 100%;
  padding: 1rem; }

textarea {
  width: 100%; }

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 1rem;
  border-radius: 50%; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-google {
  background: #dd4b39;
  color: white; }

.fa-instagram {
  background: #125688;
  color: white; }

.fa-whatsapp {
  background: #128C7E;
  color: white; }
