body, .navbar {
  background: #240000;
  background: linear-gradient(90deg, #240000 0%, black 35%, #863232 100%);
  color: white; }

.navbar {
  position: fixed;
  width: 100%;
  top: 1;
  z-index: 1000; }

.row {
  justify-content: center; }

h1 {
  display: none; }

img {
  width: 100%;
  padding: 1rem; }

h2 {
  border: solid 8px white;
  padding: 3rem 8rem;
  margin: 3rem;
  color: white; }

h3 {
  margin: 1rem; }

p {
  padding: 1rem; }

iframe {
  position: absolute;
  z-index: 0; }

form {
  width: 100%;
  padding: 1rem; }

textarea {
  width: 100%; }
